@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.tabla{
  border-collapse: separate; /* Utiliza separación de celdas en lugar de colapso */
  border-spacing: 10px; /* Espacio entre celdas */
}